@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

body, html {
    /*Set Fonts*/
    font-family: "Source Sans Pro", sans-serif;
    color: white;

    /*Disable Scrolling*/
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/*Background Image*/
#bg {
    background-image: url("img/1666.jpg");

    /*Position*/
    height: 100%; 
    width: 100%;
    top: 0;
    border: 0;
    position: absolute;

    /* Scale*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Half way up the page*/
.middle{
  position: absolute;
  top: 50%;
  margin-top: -6.5%;
}

/*Bottom left corner element*/
.bottomLeft{
    position: fixed;
    bottom: 1%;
    left: 2%;
}

/*Element in the center at the bottom of the screen*/
.bottomCenter{
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}

/*CSS for all text links*/
.link{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

/*CSS for quick links*/
#links{
    text-align: center;
    display: table;
    width: 100%;
    margin: 20px auto;
}

/*CSS for quick links*/
#links a{
    display: table-cell;
    text-align: center;
    width: 10%;
}

/*CSS for quick links*/
#links img{
    width: 100%;
    max-width: 150px;
}